<ul class="container mt-5 mb-5 list-group w-25">
  <div class="d-grid gap-2 col-12 mx-auto mb-5">
    <input
      class="form-control"
      id="todotask"
      placeholder="your task"
      type="text"
      name="taskInput"
      [(ngModel)]="taskInput"
      (keyup.enter)="addTask()"
    />
    <button class="btn btn-primary" type="button" (click)="addTask()">
      Add Task
    </button>
  </div>

  <li
    class="list-group-item d-flex justify-content-between align-items-center"
    *ngFor="let task of listOfTask, let i=index"
  >
    {{ task }}
    <span
      style="color: red; cursor: pointer"
      class="rounded-pill"
     (click)=" removeTask(i)"     
      >X</span
    >
  </li>
</ul>
